.AddPerson {
    text-align: center;
    margin: 30px;
}

.label
{
    display:inline-block;
    min-width:100px;
}

button
{
    display:block;
    margin:auto;
    padding:10px;
    background-color:blue;
    color:white;
}

input 
{
    padding:10px;
}